.movie-section {
  margin-top: 100px;
  .movies {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(200px, auto);
    .movie-card {
      position: relative;
      box-shadow: 7px 7px 15px -8px rgba(0, 0, 0, 0.75);
      transition: all ease 0.5s;

      .movie-poster {
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%, 50%;
        transition: all ease 0.5s;
        &:hover {
          // background: rgba(20, 20, 20, 1);
          // background-color: black;
          transform: scale(1.2);
        }
      }
      .movie-title {
        background-color: rgba(0, 0, 0, 0.6);

        position: absolute;
        line-height: 14px;
        top: 5%;
        font-size: 1rem;
        left: 10%;
        right: 10%;
        text-shadow: 7px 7px 15px -8px rgba(0, 0, 0, 0.75);
      }

      .movie-summary {
        font-size: 0.6rem;
        position: absolute;
        bottom: 5%;
        left: 10%;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px;
        transition: all ease 0.5s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .movie-section {
    margin-top: 100px;
    .movies {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;
      grid-auto-rows: minmax(200px, auto);
    }
  }
}

@media screen and (max-width: 800px) {
  .movie-section {
    margin-top: 100px;
    .movies {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      grid-auto-rows: minmax(250px, auto);
    }
  }
}

@media screen and (max-width: 650px) {
  .movie-section {
    margin-top: 100px;
    .movies {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      grid-auto-rows: minmax(300px, auto);
    }
  }
}

@media screen and (max-width: 450px) {
  .movie-section {
    margin-top: 100px;
    .movies {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      grid-auto-rows: minmax(250px, auto);
    }
  }
}
