.movie-section {
  margin-top: 100px;
  .movies {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(200px, auto);
    .movie-card {
      position: relative;
      box-shadow: 7px 7px 15px -8px rgba(0, 0, 0, 0.75);
      .movie-poster {
        height: 100%;
        background-image: url("../assets/images/Avengers.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%, 50%;
        transition: all ease 0.5s;
        &:hover {
          background: rgba(20, 20, 20, 0.5);
        }
      }
      .movie-title {
        position: absolute;
        top: 5%;
        font-size: 0.8rem;
        left: 10%;
      }

      .movie-summary {
        font-size: 0.8rem;
        position: absolute;
        bottom: 5%;
        left: 10%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .movie-section {
    margin-top: 100px;
    .movies {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;
      grid-auto-rows: minmax(200px, auto);
    }
  }
}

@media screen and (max-width: 800px) {
  .movie-section {
    margin-top: 100px;
    .movies {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      grid-auto-rows: minmax(200px, auto);
    }
  }
}

@media screen and (max-width: 560px) {
  .movie-section {
    margin-top: 100px;
    .movies {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      grid-auto-columns: minmax(50px, auto);
    }
  }
}
